extends layout

block content
  h1= title
  iframe(src="http://nodeknockout.com/iframe/software-niagara", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
  p Welcome to #{title}
