extends layout

block content
  #map
  #popup(class="modal mfp-hide")
    Popup content

  iframe(src="http://nodeknockout.com/iframe/software-niagara", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
