doctype 5
html
  head
    title= title
    script(src='/js/modernizr.js')
    script(src='http://localhost:35729/livereload.js')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900')
    link(rel='stylesheet', href='/css/app.min.css')
  body
    #header
      h1 The Carlin Report
      button(class="button", data-file="report") Report a near hit
    block content
    script(src='/js/app.min.js')
    #knockout
      p="Please vote..."
      iframe(src="http://nodeknockout.com/iframe/software-niagara", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)

