doctype 5
html
  head
    title Report walking, running, and cycling near-misses | The Carlin Report

    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="icon", href="/favicon-16x16.png", sizes="16x16")
    link(rel="icon", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", href="/favicon-160x160.png", sizes="160x160")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="msapplication-square70x70logo", content="/mstile-70x70.png")
    meta(name="msapplication-square150x150logo", content="/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo", content="/mstile-310x150.png")
    meta(name="msapplication-square310x310logo", content="/mstile-310x310.png")

    script(src='/js/modernizr.js')
    if settings.env === 'development'
      script(src='http://localhost:35729/livereload.js')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900')
    link(rel='stylesheet', href='/css/app.min.css')
  body
    #header
      h1 The Carlin Report
      button(class="button", data-file="report") Report a near hit
    block content
    script(src='/js/app.min.js')
    #knockout
      p="Please vote..."
      iframe(src="http://nodeknockout.com/iframe/software-niagara", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)

